:root {
    --players_name: calc(var(--table-size) + 4vh);
}

main {
    user-select: none;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: #1b1b1d;
}

#why_is_not_working {
    /* height: calc(var(--table-size)); */
}