:root {
    --mov-tracking: calc(var(--table-size)/2.5);
}

.track-movements {
    height: var(--table-size);
    width: 100%;
    background-color: #232323;
    border-radius: 0;
    border: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}