:root {
    /* --table-size: calc(var(--piece-size) / 2); */
    --piece-size: calc(var(--table-size) / 8.4);
    --piece-half: calc(var(--piece-size) / 2);
}

.piece {
    height: var(--piece-size);
    width: var(--piece-size);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
    user-select: auto;
}
